@import 'tailwindcss';

@theme {
	--font-family-title: 'Cormorant Garamond', serif;
	--font-family-text: 'Montserrat', sans-serif;

	--color-heading: #1e293b;
	--color-nav: #475569;
	--color-paragraph: #4a5568;
	--color-border: #a8c5e0;
	--color-card: #f0f9ff;

	--text-size-title: 2.25rem;
	--text-size-body: 1.125rem;
}

@media (prefers-color-scheme: dark) {
	:root {
	}
}
